<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class based view</title>
    <style>
        .mydiv{
            height: 100px;
            width: 250px;
            background-color: tomato;
            border: 2px solid saddlebrown;
            border-radius: 3px;
            color: whitesmoke;
            font-family:fantasy;
            font-size: 40px;
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>I am bangla from class based view</h1>
    <div class="mydiv">Hi, i am div</div>
</body>
</html>